body {
    font-family: Arial, sans-serif;
    background-color: rgba(190, 85, 204, 0.747);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
  }

  h1 {
    margin-bottom: 20px;
  }

  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .nota {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .boton-eliminar {
    background-color: #ff6347;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .boton-eliminar:hover {
    background-color: #d33;
  }